<div id="page-layer-styled" class="page-wrapper">
	<div id="left-layer"></div>
	<div class="container">
		<div >
        <section class="widget">
        <form action="" method="POST">
          <div class="row">
            <div class="col-md-4">
            Email: <input type="email" name="Email" value="">
            </div>
          </div>
          <div class="row "> 
           <div class="col-md-4">
           Password: <input type="password" name="Password" value="">
           </div>
          </div>
          <div class="row "> 
            <div class="col-md-4">
              <input type="submit" value="Submit">
            </div>
          </div>
        </form>
        </section>
      </div>
   </div>
</div>




