<div id="page-layer-styled" class="page-wrapper">
	<div id="left-layer"></div>
	<div class="container">
		<div >
        <section class="widget">
        <form action="/auth/register" method="POST">
        <div class="row">
         <div class="col-md-5">
          Name:<input class="col-md-4" type="text" name="Name" value="">
          </div>
        </div>
        <div class="row">
         <div class="col-md-5">
          Email:<input class="col-md-4" type="email" name="Email" value="">
          </div>
        </div>
        <div class="row">
         <div class="col-md-5">
          Password:<input class="col-md-4" type="password" name="Password" value="">
          </div>
        </div>
        <div class="row">
         <div class="col-md-5">
          <input type="submit" value="Submit">
         </div>
        </div>
        </form>
        </section>
      </div>
   </div>
</div>

