

<form action="/admin/articles/add">
    <input type="submit" value="Add Article">
</form>

<div ng-controller="AdminListArticlesCtrl">
<div class="ui-widget">
Title: <input ng-model="title">
<br/>
Text: <input ng-model="text">
<br/>

<button ng-click="submit(title,text)">Submit</button>
</div>

<div class="ui-widget">
  <ul ng-repeat="article in articles">
    <li class="article">
        <a href="{{'/admin/articles/'+article.Link }}" > <strong >{{article.Title}}</strong></a>
        <button ng-click="delete(article.Link,title,text)">Delete</button>
    </li>
  </ul>
</div>


<div id="pagination"></div>
</div>

