
<div ng-controller="AdminIngredientCtrl">
<div class="ui-widget">
Name: <input ng-model="name">
<br/>

Tags: <input id="tags" size="50"  ng-model="stags">
<br/>
<input custom-on-change="fileUpload" type="file" accept="image/jpeg" class="fileChooser"/>
<br/>
<img ng-if="has_photo" height="420" width="420" ng-src="/static/images/i_{{id}}.jpg" />
<br/>
<button ng-if="has_photo" ng-click="deletePicture()">Delete</button>
<br/>

<button ng-click="submit()">Submit</button>
<button ng-click="cancel()">Cancel</button>

</div>
</div>

