

<div ng-controller="AdminTagCtrl">
<div class="ui-widget">
Name: <input ng-model="name">
<br/>
<button ng-click="submit(name)">Submit</button>
<button ng-click="cancel()">Cancel</button>

</div>
</div>

