
<div ng-controller="AdminListTagsCtrl">
<form action="/admin/tags/add">
    <input type="submit" value="Add Tag">
</form>

<div class="ui-widget">
Name: <input ng-model="name">
<br/>

<button  ng-click="submit(name)">Submit</button>

</div>

<div class="ui-widget">
  <ul ng-repeat="tag in tags">
    <li class="tag">
        <a href="{{'/admin/tags/'+tag.Id}}" > <strong >{{tag.Name}}</strong></a>
        <button ng-click="delete(tag.Id)">Delete</button>
    </li>
  </ul>
</div>


<div id="pagination"></div>

</div>



