


<div ng-controller="AdminListUsersCtrl">
<div class="ui-widget">
Name: <input ng-model="name">
<br/>
Email: <input ng-model="email">
<br/>

<button ng-click="submit()">Submit</button>
</div>

<div class="ui-widget">
  <ul ng-repeat="user in users">
    <li class="user">
        <a href = "{{'/admin/users/'+user.Id }}" > <strong >{{user.Email}}</strong>,
        <strong>{{user.Name}}</strong></a>
    </li>
  </ul>
</div>


<div id="pagination"></div>

</div>



