

<div ng-controller="UserSettingsCtrl">
<!-- .page-banner -->
<div id="page-layer-styled" class="page-wrapper">
	<div id="left-layer"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-main">
         <section class="widget category-widget">
            <h4> Change Password </h4>
            Password: <input ng-model="password" type="password">
            <br/>
            Repead password: <input ng-model="repeat_password" type="password">
              <br/>
            <button class="btn btn-success" ng-click="submit()">Submit</button>
          </section>
      </div>
      <div class="col-md-5 col-main">
         <section class="widget category-widget">
            <h4> Add Picture </h4>
            <input custom-on-change="fileUpload" type="file" accept="image/jpeg" class="fileChooser"/>
            <button class="btn btn-success" ng-click="submit()">Submit</button>
          </section>
      </div>
    </div>
  </div>
 </div>
</div>


