/*!
 * Recipex v1.0
 *
 * Table of Contents
 * 1 Common
 * 2 Forms
 * 3 Buttons
 * 4 Pagination
 * 5 Slider and Carousels
 * 6 Header
 * 7 Footer
 * 8 Banner
 * 9 Widget
 * 10 Recipe Search
 * 11 Home Page
 * 12 Login and Resgister Page
 * 13 Editors Page
 * 14 Contact Us Page
 * 15 Recipe Page
 * 16 Single Recipe Page
 * 17 Submit Recipe Page
 * 18 Blog Page
 */
/* 1 Common */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 15px;
}
p {
  margin-bottom: 20px;
}
a,
input[type="submit"] {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:focus,
input[type="submit"]:focus {
  outline: none;
}
/* Heading Bottom Line */
.heading-bottom-line {
  position: relative;
  padding-bottom: 25px;
  border-bottom: 2px solid #e1e1e1;
}
.heading-bottom-line:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 14%;
  height: 2px;
  background-color: #8dc63f;
}
/* Rating */
.rating[data-rating="1"] .one {
  color: #ea4848;
}
.rating[data-rating="2"] .one,
.rating[data-rating="2"] .two {
  color: #ea4848;
}
.rating[data-rating="3"] .one,
.rating[data-rating="3"] .two,
.rating[data-rating="3"] .three {
  color: #ea4848;
}
.rating[data-rating="4"] .one,
.rating[data-rating="4"] .two,
.rating[data-rating="4"] .three,
.rating[data-rating="4"] .four {
  color: #ea4848;
}
.rating[data-rating="5"] .fa {
  color: #ea4848;
}
/* Thumbnail Hover Style */
.thumbnail-hover {
  position: relative;
  overflow: hidden;
}
.thumbnail-hover:hover .view-thumbnail {
  opacity: 1;
  filter: alpha(opacity=100);
}
.thumbnail-hover:hover .thumbnail-view-icon {
  top: 50%;
}
.thumbnail-view-icon {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 32px;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.view-thumbnail {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(141, 198, 63, 0.75);
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}
.page-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* Chosen */
.chosen-container-single .chosen-single {
  height: 45px;
  padding: 0 22px;
  font-size: 14px;
  line-height: 42px;
  color: #777;
}
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-drop {
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: 0;
}
.chosen-container-single .chosen-single span {
  margin-right: 0;
}
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
  background: none;
}
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container .chosen-drop {
  border-color: #ededed;
  box-shadow: none;
}
.chosen-container .chosen-results {
  color: #777;
  margin: 0;
  padding: 0;
}
.chosen-container .chosen-results li {
  margin: 0;
  padding: 10px 22px;
}
.chosen-container-single .chosen-single div b {
  background-position: 0 13px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: 0 13px;
}
.chosen-container .chosen-results li.highlighted {
  background: none;
  background-color: #8dc63f;
}
.submit-recipe .chosen-container-single .chosen-single {
  background-color: #fdfdfe;
}
/* 2 Forms*/
label {
  font-weight: normal;
  vertical-align: middle;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  margin-left: 0;
}
input:focus,
textarea:focus {
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
textarea {
  width: 100%;
  padding: 1px 22px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"] {
  height: 45px;
}
input:not([type="submit"]),
textarea,
.checkboxes input[type=checkbox] + label:before,
.checkboxes input[type=checkbox]:checked + label:after,
.radioes input[type=radio] + label:before,
.radioes input[type=radio]:checked + label:after {
  border: 1px solid #ededed;
}
textarea {
  height: 180px;
  padding-top: 13px;
  padding-bottom: 13px;
}
/* Custom checkbox and radio input types */
.checkboxes input[type=checkbox],
.radioes input[type=radio] {
  display: none;
}
.checkboxes input[type=checkbox] + label,
.radioes input[type=radio] + label {
  position: relative;
  margin: 0;
}
.checkboxes input[type=checkbox] + label:before,
.radioes input[type=radio] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -2px 15px 0 0;
  vertical-align: middle;
  background-color: #fdfdfe;
}
.checkboxes input[type=checkbox]:checked + label:after,
.radioes input[type=radio]:checked + label:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 4px;
  border-width: 6px;
}
.radioes input[type=checkbox] + label:before,
.radioes input[type=radio] + label:before,
.radioes input[type=checkbox]:checked + label:after,
.radioes input[type=radio]:checked + label:after {
  border-radius: 50%;
}
input[type="submit"] {
  padding: 10px 30px;
  font-weight: 600;
  background-color: #8dc63f;
  border: none;
  color: #fff;
}
input[type="submit"]:hover {
  background-color: #72a230;
}
/* 3 Buttons */
.btn {
  border-radius: 0;
}
.btn-default {
  color: #ffffff;
  background-color: #ff8c04;
  border-color: #ff8c04;
}
.btn-default:focus,
.btn-default.focus {
  color: #ffffff;
  background-color: #d07100;
  border-color: #844700;
}
.btn-default:hover {
  color: #ffffff;
  background-color: #d07100;
  border-color: #c66b00;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #d07100;
  border-color: #c66b00;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #ac5d00;
  border-color: #844700;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ff8c04;
  border-color: #ff8c04;
}
.btn-default .badge {
  color: #ff8c04;
  background-color: #ffffff;
}
/* 4 Pagination */
.page-nav {
  margin-top: 25px;
}
.page-nav span,
.page-nav a {
  display: inline-block;
  padding: 7px 16px;
  margin: 0 6px 10px 0;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  text-align: center;
}
.page-nav a:hover,
.page-nav .current {
  background-color: #8dc63f;
  border-color: #8dc63f;
  color: #fff;
}
/* 5 Slider and Carousels */
.owl-carousel .owl-stage {
  overflow: hidden;
}
/* Carousel One */
.home-carousel-one .owl-prev,
.home-carousel-one .owl-next,
.home-carousel-two .owl-prev,
.home-carousel-two .owl-next {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  line-height: 50px;
  margin-top: -24px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #d7790b;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-carousel-one .owl-prev:hover,
.home-carousel-one .owl-next:hover,
.home-carousel-two .owl-prev:hover,
.home-carousel-two .owl-next:hover {
  background-color: #e0e0e2;
  color: #000;
}
.home-carousel-one .owl-prev,
.home-carousel-two .owl-prev {
  left: 20px;
}
.home-carousel-one .owl-next,
.home-carousel-two .owl-next {
  right: 20px;
}
.home-carousel-one .slide,
.home-carousel-two .slide {
  position: relative;
}
.home-carousel-one .slide:after,
.home-carousel-two .slide:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.home-carousel-one .recipe-details-wrapper,
.home-carousel-two .recipe-details-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  z-index: 10;
}
.home-carousel-one .recipe-title,
.home-carousel-two .recipe-title {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 900;
}
.home-carousel-one .recipe-title a,
.home-carousel-two .recipe-title a {
  color: #fff;
}
.home-carousel-one .recipe-title a:hover,
.home-carousel-two .recipe-title a:hover {
  color: #73bc11;
}
.home-carousel-one .recipe-title a:hover span,
.home-carousel-two .recipe-title a:hover span {
  color: #fff;
}
.home-carousel-one .recipe-title span,
.home-carousel-two .recipe-title span {
  color: #73bc11;
  font-weight: 500;
  margin-left: 16px;
}
.home-carousel-one p,
.home-carousel-two p {
  font-size: 16px;
  margin-bottom: 20px;
}
.home-carousel-one .recipe-entry-meta,
.home-carousel-two .recipe-entry-meta {
  display: none;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  font-weight: 400;
  color: inherit;
}
.home-carousel-one .recipe-entry-meta a,
.home-carousel-two .recipe-entry-meta a {
  color: inherit;
}
.home-carousel-one .recipe-entry-meta a:hover,
.home-carousel-two .recipe-entry-meta a:hover {
  color: #8dc63f;
}
.home-carousel-one .recipe-entry-meta span,
.home-carousel-two .recipe-entry-meta span {
  display: table-cell;
  width: 1%;
}
.home-carousel-one .recipe-entry-meta .fa,
.home-carousel-two .recipe-entry-meta .fa {
  font-size: 15px;
  margin-right: 8px;
}
.home-carousel-one .btn,
.home-carousel-two .btn {
  padding: 8px 35px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.home-carousel-one .btn:hover,
.home-carousel-two .btn:hover {
  background-color: #e0e0e2;
  border-color: #e0e0e2;
  color: #000;
}
.carousel-second-style .recipe-title {
  margin-bottom: 20px;
  padding: 8px 20px;
  background-color: #141211;
}
.carousel-second-style p {
  margin-bottom: 25px;
}
.carousel-second-style .recipe-entry-meta {
  border-color: rgba(255, 255, 255, 0.15);
}
.carousel-second-style .btn {
  padding-left: 25px;
  padding-right: 25px;
  letter-spacing: 2px;
}
@media (max-width: 1200px) {
  .home-carousel-one .recipe-details-wrapper,
  .home-carousel-two .recipe-details-wrapper {
    left: 10%;
  }
}
@media (max-width: 991px) {
  .home-carousel-one .recipe-title,
  .home-carousel-two .recipe-title {
    margin-bottom: 0;
  }
}
@media (min-width: 1366px) {
  .home-carousel-one .recipe-entry-meta,
  .home-carousel-two .recipe-entry-meta {
    display: block;
  }
}
@media (min-width: 1500px) {
  .recipe-details-wrapper {
    width: 25%;
  }
}
/* Carousel Two */
.home-carousel-wrapper {
  position: relative;
}
.bx-wrapper {
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
.home-carousel-two .slide img {
  width: 100%;
}
.home-carousel-two .recipe-title {
  padding: 0 0 4px;
  background-color: transparent;
}
.home-carousel-two .recipe-title a {
  color: #fff;
}
.home-carousel-two .recipe-title a:hover {
  color: #73bc11;
}
.home-carousel-two .recipe-title a:hover span {
  color: #73bc11;
}
.home-carousel-two .recipe-title span {
  color: #fff;
  font-weight: 900;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  z-index: 1000;
  width: 48px;
  height: 48px;
  line-height: 44px;
  margin-top: -24px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  text-indent: 0;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bx-wrapper .bx-controls-direction a:hover {
  background-color: #fff;
  color: #000;
}
.bx-wrapper .bx-prev {
  left: 10px;
  background: none;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: none;
}
.home-carousel-two-nav {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.home-carousel-two-nav > a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.home-carousel-two-nav img {
  outline: 1px solid #fff;
  outline-offset: -8px;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.home-carousel-two-nav .active img {
  -webkit-box-shadow: 0 0 4px 1px #000000;
  box-shadow: 0 0 4px 1px #000000;
}
.slick-slider {
  margin-bottom: 0;
}
.slick-slider *:focus {
  outline: none;
}
.slick-slide img {
  width: 100%;
}
/* Gallery Post Carousel */
.gallery-post-carousel .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1000;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery-post-carousel .slick-arrow:hover {
  background-color: #fff;
  color: #000;
}
.gallery-post-carousel .left-arrow {
  left: 20px;
}
.gallery-post-carousel .right-arrow {
  right: 20px;
}
.gallery-post-carousel .slick-arrow {
  width: 34px;
  height: 34px;
  line-height: 30px;
  margin-top: -17px;
}
@media (max-width: 767px) {
  .home-carousel-two-nav img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 479px) {
  .home-carousel-wrapper {
    display: none;
  }
}
/* Single Recipe Carousel */
.single-recipe-carousel {
  padding: 12px;
  border: 1px solid #f1f1f1;
}
.recipe-slider-wrapper {
  margin-bottom: 40px;
}
.recipe-slider-wrapper .links {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #f1f1f1;
}
.recipe-slider-wrapper a {
  display: inline-block;
  margin-right: 20px;
}
.recipe-slider-wrapper a:last-of-type {
  margin-right: 0;
}
.recipe-slider-wrapper .fa {
  margin-right: 10px;
}
.recipe-slider-wrapper .published-date {
  float: right;
}
#share-icons {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 20px;
  background-color: #8dc63f;
}
#share-icons a {
  color: #fff;
}
#share-icons a:hover {
  color: #648e2a;
}
#share-icons .close {
  margin: 1px -20px 0 10px;
}
.single-recipe-carousel-nav {
  position: relative;
  padding: 0 40px;
  background-color: #f9f9f9;
  border: 1px solid #f1f1f1;
  border-top: none;
}
.single-recipe-carousel-nav .nav-thumb {
  margin: 9px;
}
.single-recipe-carousel-nav .slick-prev,
.single-recipe-carousel-nav .slick-next {
  color: #747474;
}
.single-recipe-carousel-nav .slick-prev:before,
.single-recipe-carousel-nav .slick-next:before {
  opacity: .75;
  color: #747474;
}
.single-recipe-carousel-nav .slick-prev {
  left: 10px;
}
.single-recipe-carousel-nav .slick-next {
  right: 10px;
}
/* Editors Carousel */
.editors-carousel .owl-nav {
  position: absolute;
  top: 5%;
  right: 18%;
  z-index: 10;
  text-align: center;
}
.editors-carousel .owl-prev,
.editors-carousel .owl-next {
  display: inline-block;
  bottom: 0;
  width: 44px;
  height: 44px;
  line-height: 42px;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ececec;
  color: #bdbdbd;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.editors-carousel .owl-prev:hover,
.editors-carousel .owl-next:hover {
  background-color: #f8f8f8;
}
.editors-carousel .owl-next {
  margin-left: 10px;
}
.editors-carousel .owl-stage-outer {
  background-color: #fff;
}
.editors-carousel .carousel-column {
  padding: 0;
}
.editors-carousel .editor-name {
  margin: 50px 40% 50px 57px;
  padding-left: 19px;
  font-size: 22px;
  text-transform: uppercase;
  border-left: 3px solid #8dc63f;
}
.editors-carousel .editor-name a {
  display: inline-block;
  margin-bottom: 20px;
  color: #000;
}
.editors-carousel .editor-name a:hover {
  color: #8dc63f;
}
.editors-carousel .detail {
  border-top: 1px solid #e1e1e1;
}
.editors-carousel p {
  display: none;
  margin-bottom: 0;
}
.editors-carousel .social-media a {
  padding-left: 0;
  padding-right: 15px;
  font-size: 14px;
  color: #000;
}
.editors-carousel .social-media a:hover {
  color: #8dc63f;
}
@media (max-width: 1199px) {
  .editors-carousel .owl-nav {
    right: 20px;
  }
  .editors-carousel .editor-name {
    margin-bottom: 45px;
    margin-left: 25px;
  }
  .editors-carousel .detail {
    padding: 25px;
  }
  .editors-carousel .owl-next {
    margin-left: 5px;
  }
}
@media (max-width: 991px) {
  .editors-carousel .owl-nav {
    top: auto;
    bottom: 5%;
  }
}
@media (min-width: 1199px) {
  .editors-carousel .owl-nav {
    top: 16%;
  }
  .editors-carousel .social-media {
    margin-bottom: 15px;
  }
  .editors-carousel .detail {
    padding: 25px 25% 30px 57px;
  }
}
@media (min-width: 1200px) {
  .editors-carousel .editor-name {
    margin-top: 70px;
  }
}
@media (min-width: 1366px) {
  .editors-carousel p {
    display: block;
  }
}
/* 6 Header */
.master-header {
  background-color: #fff;
}
.header-top {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ededed;
}
.header-top a {
  color: inherit;
}
.header-top a:hover {
  color: #3a3a3a;
}
/* Social Media */
.social-media a {
  display: inline-block;
  font-size: 10px;
  padding: 10px 15px;
}
.master-header .social-media a {
  float: left;
}
.master-header .social-media a:hover {
  color: #8dc63f;
}
.master-header .social-media a,
.header-links-list > li {
  border-left: 1px solid #ededed;
}
.master-header .social-media a:last-child,
.header-links-list > li:last-child {
  border-right: 1px solid #ededed;
}
/* Header List */
.header-links-list {
  float: right;
}
.header-links-list,
.header-links-list ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
.header-links-list > li {
  float: left;
}
.header-links-list > li > a {
  padding: 8px 20px;
}
.header-links-list > li > a:hover {
  color: #567b24;
}
.header-links-list span,
.header-links-list a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
}
.header-links-list .fa {
  margin-right: 7px;
}
.header-links-list .fa-search {
  margin-right: 0;
}
/* Language Selection */
.language-list {
  padding: 0 20px;
}
.selected-language {
  cursor: pointer;
  padding-left: 5px;
}
.language-list-container {
  position: relative;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}
.language-list-container .fa-angle-down {
  margin-right: 0;
  margin-left: 14px;
  font-size: 10px;
}
.language-list-container:hover > .language-switcher {
  display: block;
}
.language-list-container > li {
  position: relative;
  cursor: pointer;
}
.language-switcher {
  display: none;
  position: absolute;
  top: 100%;
  left: 5px;
  z-index: 300;
  width: 110px;
  background-color: #8dc63f;
}
.language-switcher .current span,
.language-switcher a {
  display: block;
  padding: 5px 13px;
}
.language-switcher .current span:first-child,
.language-switcher a:first-child {
  border-top: none;
}
.language-switcher a:hover {
  color: #fff;
  background-color: #80b636;
}
.header-two .header-links-list .language-switcher > li a:hover {
  color: #fff;
}
/* Top Search */
#top-search-form {
  display: none;
  position: absolute;
  top: 100%;
  right: 15px;
  z-index: 150;
  width: 100%;
  margin-top: 1px;
  font-size: 13px;
}
#top-search-form input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #A5D6A5;
  color: #000;
}
/* Logo */
.logo-wrapper {
  display: table;
  float: left;
  height: 105px;
}
.logo-wrapper .site-logo {
  display: table-cell;
  vertical-align: middle;
}
/* Menu */
.primary-nav {
  float: right;
}
.primary-menu,
.primary-menu ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
.primary-menu > li {
  float: left;
  margin-left: 40px;
}
.primary-menu > li > a {
  display: table-cell;
  height: 105px;
  vertical-align: middle;
  font-weight: 600;
}
.primary-menu li {
  position: relative;
}
.primary-menu li a {
  font-size: 14px;
}
.primary-menu .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 250;
  width: 180px;
  background-color: #f9f9f9;
}
.primary-menu .sub-menu li:last-child > a {
  border-bottom: 1px solid #ededed;
}
.primary-menu .sub-menu a {
  display: block;
  padding: 8px 15px;
  border: 1px solid #ededed;
  border-bottom: none;
}
.primary-menu .sub-menu .sub-menu {
  top: 0;
  left: 180px;
}
.header-two .header-top {
  background: url("../images/site/header-top-bg.png") transparent top center;
  color: #fff;
}
.header-two .header-links-list > li {
  border-left: 1px solid #8bcc3d;
}
.header-two .header-links-list > li:last-child {
  border-right: 1px solid #8bcc3d;
}
.header-two .header-links-list > li a:hover {
  color: #3a3a3a;
}
.header-two .social-media a {
  border-left: 1px solid transparent;
}
.header-two .social-media a:last-child {
  border-right: 1px solid transparent;
}
.header-two .social-media a:hover {
  color: #3a3a3a;
}
@media (min-width: 992px) {
  .header-two .primary-menu > li {
    margin: 0;
  }
  .header-two .primary-menu > li > a {
    display: block;
    height: auto;
    margin: 24px 0;
    padding: 32px 30px 0;
    background-position: center top;
    background-repeat: no-repeat;
    border-right: 1px dashed #c3c3c3;
  }
  .header-two .primary-menu > li:last-child a {
    border-right: none;
  }
  .home-menu-item > a {
    background-image: url("../images/site/menu-icon-home.png");
  }
  .blog-menu-item > a {
    background-image: url("../images/site/menu-icon-blog.png");
  }
  .recipe-menu-item > a {
    background-image: url("../images/site/menu-icon-recipe.png");
  }
  .submit-recipe-menu-item > a {
    background-image: url("../images/site/menu-icon-submit-recipe.png");
  }
  .page-menu-item > a {
    background-image: url("../images/site/menu-icon-page.png");
  }
  .contact-menu-item > a {
    background-image: url("../images/site/menu-icon-contact.png");
  }
}
.slicknav_menu {
  position: relative;
  top: 34px;
  float: right;
  padding: 0;
  font-size: 16px;
  background: transparent;
}
.slicknav_menu .slicknav_btn {
  float: right;
  margin: 0;
  padding: 15px;
  border-radius: 0;
  background-color: #4c4c4c;
}
.slicknav_menu .slicknav_nav {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9999;
  min-width: 280px;
  background: #4c4c4c;
}
.slicknav_menu .slicknav_nav .slicknav_row {
  padding: 10px 15px;
}
.slicknav_menu .slicknav_nav .slicknav_row,
.slicknav_menu .slicknav_nav a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.slicknav_menu .slicknav_nav .slicknav_row:focus,
.slicknav_menu .slicknav_nav a:focus {
  outline: none;
}
.slicknav_menu .slicknav_nav > li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.slicknav_menu .slicknav_nav a:hover,
.slicknav_menu .slicknav_nav .slicknav_row:hover {
  border-radius: 0;
  background: #424242;
  color: #fff;
}
.slicknav_menu .sub-menu {
  background: transparent;
}
.slicknav_menu .slicknav_icon-bar {
  box-shadow: none;
}
@media (max-width: 1199px) {
  .primary-menu .sub-menu .sub-menu {
    left: -180px;
  }
}
@media (max-width: 991px) {
  .primary-nav {
    display: none;
  }
  .master-header .container {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .header-links-list .selected-language,
  .header-links-list a,
  .social-media a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .master-header .social-media a:last-child,
  .header-links-list > li:last-child,
  .master-header .social-media a,
  .header-links-list > li {
    border: none;
  }
}
@media (max-width: 380px) {
  .header-top {
    text-align: center;
  }
  .header-links-list > li {
    display: inline-block;
  }
  .master-header .social-media a,
  .header-links-list > li,
  .header-links-list {
    float: none;
  }
}
/* 7 Footer */
.master-footer {
  background-color: #1b1b1b;
}
.footer-two {
  background-color: #222223;
}
.footer-widget {
  color: #717171;
}
.footer-widget .widget-title {
  margin-bottom: 25px;
  font-size: 18px;
  color: #8dc63f;
  text-transform: uppercase;
}
.footer-widget .category-widget li,
.footer-widget .widget-contact-details li,
.footer-widget .styled-list-one li li {
  padding-top: 11px;
  padding-bottom: 11px;
  border-top: 1px solid #3C3A3A;
}
.footer-widget .category-widget li ul,
.footer-widget .widget-contact-details li ul,
.footer-widget .styled-list-one li li ul {
  padding-top: 11px;
}
.footer-top {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  #footer-left-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #2a2a2b;
    background: url("../images/site/footer-left-layer-bg.png") no-repeat right bottom #1b1b1b;
  }
}
.footer-bottom {
  padding: 36px 0;
  background-color: #181818;
  border-top: 1px solid #2a2a2b;
}
.footer-bottom-text {
  margin-bottom: 0;
  text-align: center;
}
/* 8 Banner */
.page-banner {
  padding: 60px 0;
  min-height: 180px;
  background: url("../images/site/banner-bg.jpg") no-repeat top center;
  background-size: cover;
}
.page-title {
  font-size: 46px;
  margin: 0;
  font-weight: 500;
  color: #fff;
}
.breadcrumb {
  float: right;
  padding: 0;
  margin: 13px 0 0;
  background-color: transparent;
  color: #fff;
}
.breadcrumb > li + li:before {
  content: "\f105\00a0";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.breadcrumb a,
.breadcrumb > .active {
  color: inherit;
}
.breadcrumb a:hover {
  color: #8dc63f;
}
.breadcrumb > li + li:before {
  color: #fff;
}
@media (max-width: 767px) {
  .page-banner {
    text-align: center;
  }
  .breadcrumb {
    float: none;
    margin-top: 25px;
  }
}
/* 9 Widget */
.sidebar .widget:last-of-type {
  margin-bottom: 0;
}
.sidebar .heading-bottom-line {
  padding-bottom: 16px;
  margin-bottom: 30px;
}
.sidebar .widget-title {
  font-size: 16px;
  text-transform: uppercase;
}
.sidebar .category-widget .widget-title + ul,
.sidebar .widget-contact-details .widget-title + ul,
.sidebar .styled-list-one li .widget-title + ul {
  margin-top: -17px;
}
.sidebar .widget_recent_entries h5 a {
  color: #000;
}
.sidebar .widget_recent_entries h5 a:hover {
  color: #5cb85c;
}
.widget {
  margin-bottom: 40px;
}
.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Category Widget */
.category-widget li,
.widget-contact-details li,
.styled-list-one li li {
  padding: 5px 0;
  overflow: hidden;
}
.category-widget li ul,
.widget-contact-details li ul,
.styled-list-one li li ul {
  padding: 5px 0 0 15px;
}
.category-widget li ul li:last-child,
.widget-contact-details li ul li:last-child,
.styled-list-one li li ul li:last-child {
  padding-bottom: 0;
}
.category-widget li .fa,
.widget-contact-details li .fa,
.styled-list-one li li .fa {
  margin-right: 8px;
}
/* Contact Detail Widget */
.widget-contact-details address {
  margin-bottom: 0;
}
.widget-contact-details li {
  padding: 8px 3px;
}
.widget-contact-details .fa {
  float: left;
  width: 20px;
  padding-top: 7px;
}
.widget-contact-details .wrapper {
  display: table;
}
/* Popular Recipes */
.popular-recipes-widget li,
.widget_recent_entries li {
  overflow: hidden;
}
.popular-recipes-widget .post-thumb,
.widget_recent_entries .post-thumb {
  float: left;
  margin: 0 30px 20px 0;
}
.popular-recipes-widget .post-thumb:hover,
.widget_recent_entries .post-thumb:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/* Widget Recent Entries */
.widget_recent_entries .post-thumb {
  margin-bottom: 30px;
}
.widget_recent_entries h5 {
  margin-bottom: 8px;
  line-height: 18px;
  text-transform: uppercase;
}
.widget_recent_entries .fa {
  margin-right: 8px;
  font-size: 16px;
  vertical-align: middle;
}
.widget_recent_entries time {
  vertical-align: middle;
}
/* News Latter Widget */
.news-latter-widget input[type="email"] {
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-color: #292929;
  background-color: #111111;
  border-radius: 5px;
}
.news-latter-widget input[type="submit"] {
  padding: 6px 25px;
  border-radius: 3px;
}
/* Wp Calendar Widget */
table {
  width: 100%;
}
table,
table th,
table td {
  text-align: center;
  padding: 10px 4px;
  border: 1px solid #DCDCDC;
}
caption {
  padding-top: 0;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
/* Search Widget */
.searchform {
  position: relative;
}
.searchform label {
  display: none;
}
.searchform input[type="text"],
.searchform input[type="submit"] {
  padding: 10px 70px 10px 20px;
}
.searchform input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 60px;
  height: 100%;
  padding: 0;
  border: none;
  background: url("../images/site/search-lense.png") no-repeat center center transparent;
}
.searchform input[type="submit"]:hover {
  background-color: #d8d8d8;
}
/* Tag Clouds */
.widget_tag_cloud a {
  display: inline-block;
  font-size: 14px !important;
  text-transform: capitalize;
  margin: 0 2px 6px 0;
  padding: 7px 15px;
  border: 1px solid #dcdcdc;
}
.widget_tag_cloud a:hover {
  background-color: #8dc63f;
  border-color: #8dc63f;
  color: #fff;
}
/* Tag Clouds */
.recipe_of_the_week img {
  width: 100%;
}
.recipe_of_the_week .post-thumbnail {
  margin-bottom: 20px;
}
.recipe_of_the_week p {
  margin-bottom: 8px;
}
.recipe_of_the_week a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
.recipe_of_the_week a:hover {
  color: #f0ad4e;
}
@media (max-width: 992px) {
  .sidebar {
    margin-top: 45px;
  }
  #left-layer {
    display: none;
  }
}
/* 10 Recipe Search */
.recipe-search,
.about-us {
  position: relative;
  padding: 85px 0;
  background: #ffffff url("../images/site/recipe-form-bg.png") no-repeat right bottom;
  border-bottom: 1px solid #e5e5e5;
}
.bottom-shadows {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 992px) {
  .bottom-shadows .container {
    position: relative;
    height: 100px;
  }
  .bottom-shadows .container:before,
  .bottom-shadows .container:after {
    display: block;
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 13px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #999;
    -webkit-box-shadow: 0 15px 10px #999999;
    box-shadow: 0 15px 10px #999999;
  }
  .bottom-shadows .container:before {
    left: 20px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .bottom-shadows .container:after {
    right: 20px;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
.recipe-search-inner {
  position: relative;
  padding: 46px 30px 21px;
  border: 1px solid #e5e5e5;
}
.recipe-search-inner .title {
  position: absolute;
  top: 0;
  padding: 15px 12px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 21px;
  background-color: #fff;
  -webkit-transform: translate(-12px, -50%);
  -ms-transform: translate(-12px, -50%);
  -o-transform: translate(-12px, -50%);
  transform: translate(-12px, -50%);
}
.recipe-search-inner .title span {
  font-weight: 500;
}
.recipe-search-inner label {
  margin-bottom: 7px;
  font-weight: 600;
  color: #333;
}
.recipe-search-inner .submit-recipe-search-button {
  width: 100%;
  height: 45px;
  padding: 0;
  background-color: #8dc63f;
  text-transform: uppercase;
}
.recipe-search-inner .submit-recipe-search-button:hover {
  background-color: #ff8c04;
}
.form-group {
  margin-bottom: 25px;
}
.form-control {
  height: 45px;
  padding-left: 14px;
  padding-right: 14px;
  color: #777;
  border-color: #e3e3e3;
  border-radius: 0;
  box-shadow: none;
}
.form-control:focus {
  border-color: #cacaca;
  outline: 0;
  box-shadow: none;
}
#advance-search {
  display: inline-block;
  font-weight: normal;
  cursor: pointer;
  color: #ff8c04;
}
#advance-search .fa {
  margin-left: 5px;
}
#advance-search:hover {
  color: #8dc63f;
}
.recipe-form-checkboxes {
  display: none;
}
.recipe-form-checkboxes .form-item {
  float: left;
  margin: 0 14px 5px 0;
}
.recipe-form-checkboxes label {
  font-weight: normal;
}
.recipe-form-checkboxes input[type="checkbox"] {
  display: none;
}
.recipe-form-checkboxes input[type="checkbox"] + label {
  margin-bottom: 0;
}
.recipe-form-checkboxes input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -3px 10px 0 0;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.recipe-form-checkboxes input[type="checkbox"]:checked + label:before {
  content: "\2714";
}
@media (max-width: 767px) {
  #advance-search {
    margin-top: 30px;
  }
}
/* 11 Home Page */
.home .heading-bottom-line {
  margin-bottom: 40px;
  font-size: 28px;
  text-transform: uppercase;
}
.home .heading-bottom-line span {
  color: #5e5d5d;
  font-weight: 400;
}
.home .heading-bottom-line:after {
  width: 70px;
}
.recent-recipes,
.most-rated-recipes {
  padding-top: 65px;
  padding-bottom: 35px;
}
/* Top Recipes */
.top-recipes {
  padding-top: 75px;
  padding-bottom: 85px;
  background: url("../images/site/top-recipes-bg.jpg") no-repeat center top;
  background-size: cover;
}
.top-recipes .hentry {
  background-color: #fff;
}
.top-recipes .img-responsive {
  width: 100%;
}
.top-recipes .title {
  margin-bottom: 65px;
  color: #ffffff;
}
.top-recipes .title span {
  color: inherit;
}
.top-recipes .recipe-thumbnail {
  padding-left: 0;
  padding-right: 0;
  outline: 1px solid #fff;
  outline-offset: -8px;
}
.top-recipes .recipe-detail {
  padding: 15px 15px 0;
}
.top-recipes .recipe-entry-meta {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 -15px;
}
.top-recipes p {
  margin-bottom: 26px;
}
.top-recipes .recipe-meta {
  margin-bottom: 23px;
}
.top-recipes .recipe-entry-meta {
  border-top: none;
  font-size: 13px;
  background-color: #8dc63f;
  color: #fff;
}
.top-recipes .recipe-entry-meta .read-more {
  color: inherit;
}
.top-recipes .recipe-entry-meta .read-more:hover {
  color: #000;
}
/* Our Blog */
.our-blog {
  padding-top: 60px;
  padding-bottom: 30px;
  background: url("../images/site/our-blog-bg.png") no-repeat top right #f8f8f8;
}
.our-blog .home-blog-post {
  margin-bottom: 30px;
  background-color: #fff;
}
.our-blog .entry-title {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.our-blog .entry-title a {
  color: #000;
}
.our-blog .entry-title a:hover {
  color: #8dc63f;
}
.our-blog .heading-bottom-line {
  margin-bottom: 50px;
  text-transform: uppercase;
}
.our-blog .post-thumbnail {
  padding: 0;
}
.our-blog .img-responsive {
  width: 100%;
}
.our-blog .post-content {
  padding: 25px 30px 0;
  border-top: 2px solid #8dc63f;
}
.our-blog .comment {
  float: right;
}
.our-blog .comment a {
  color: inherit;
}
.our-blog .comment a:hover {
  color: #8dc63f;
}
.our-blog .entry-meta {
  font-size: 13px;
  padding: 12px 0;
  border-top: 1px solid #e7e7e7;
  color: #717171;
  font-weight: 600;
}
.join-our-community {
  margin: 50px 100px 0 80px;
}
.join-our-community .title {
  margin-bottom: 26px;
  font-size: 35px;
  text-transform: uppercase;
}
.join-our-community .title span {
  display: block;
  font-weight: 400;
  color: #50b60c;
}
.join-our-community p {
  margin-bottom: 32px;
  font-size: 18px;
  color: #3c3c3c;
}
.join-our-community .btn {
  padding: 7px 30px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff8c04;
  color: #fff;
}
.join-our-community .btn:hover {
  background-color: #ea7f00;
}
/* About Us */
.about-us {
  padding-top: 65px;
  padding-bottom: 0;
}
.about-us img {
  float: left;
}
.about-us .title {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 19px;
  border-left: 2px solid #8dc63f;
}
.about-us .title a {
  display: inline-block;
  margin-bottom: 20px;
  color: #000;
}
.about-us .title a:hover {
  color: #8dc63f;
}
.about-us .title span {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 400;
}
.about-us .content-wrapper {
  display: table;
  padding: 25px 0;
}
@media (min-width: 768px) {
  .about-us .content-wrapper {
    padding-left: 20px;
  }
}
@media (max-width: 991px) {
  .top-recipes .recipe-thumbnail {
    float: none;
  }
}
@media (max-width: 480px) {
  .recipe-column,
  .recipe-column img {
    width: 100%;
  }
  .top-recipes .recipe-column {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .top-recipes .recipe-detail {
    padding: 28px 28px 0;
  }
  .top-recipes .recipe-entry-meta {
    margin-left: -28px;
    margin-right: -28px;
  }
}
@media (min-width: 1199px) {
  .top-recipes .recipe-thumbnail {
    width: 48%;
    margin: -10px 0;
  }
  .top-recipes .recipe-detail {
    width: 52%;
  }
  .top-recipes .recipe-entry-meta {
    margin: 0 -29px 0 -84px;
    padding: 15px 15px 15px 21px;
  }
}
@media (max-width: 991px) {
  .our-blog {
    background: none;
  }
  .join-our-community {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .our-blog .post-thumbnail {
    width: 100%;
  }
  .our-blog .post-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .join-our-community .title {
    margin-bottom: 24px;
    font-size: 28px;
  }
}
/* 12 Login and Register Page */
.forget-password {
  color: #ee3737;
  font-weight: 600;
}
.forget-password:hover {
  color: #df1313;
}
.forms-wrapper {
  padding-bottom: 80px;
  border: 1px solid #ededed;
  background: url("../images/site/login-and-register-form-bg.png") no-repeat right bottom;
  background-color: #fff;
}
.forms-wrapper .form-heading {
  font-size: 28px;
}
.forms-wrapper input:not([type="submit"]) {
  background-color: #fdfdfe;
}
.forms-wrapper .col-md-6 {
  padding: 44px 40px;
}
.forms-wrapper p {
  margin-bottom: 23px;
}
/* User Accounts Page */
.user-profile {
  background-color: #fff;
}
.user-profile > .container > .row {
  margin-left: 0;
  margin-right: 0;
}
.user-profile .current-user {
  margin-bottom: 30px;
}
.user-profile .current-user span {
  color: #373737;
  font-weight: 600;
  text-transform: uppercase;
}
.user-profile img {
  width: 100%;
}
.user-profile .user-photo {
  margin: 0 0 15px 0;
}
.user-profile .user-name {
  padding: 12px 20px 12px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #73bc11;
}
.user-profile .social-media {
  display: inline-block;
  margin-left: 10px;
}
.user-profile .social-media a {
  padding: 0 8px;
  font-size: 11px;
  line-height: 15px;
  color: #73bc11;
}
.user-profile .social-media a:hover {
  color: #f0ad4e;
}
.user-profile .social-media a + a {
  border-left: 2px solid #73bc11;
}
.user-profile .container {
  padding: 10px;
  background-color: #fff;
  border: 8px solid #f5f5f5;
  position: relative;
  top: 70px;
}
@media (min-width: 768px) {
  .user-profile .container:before,
  .user-profile .container:after {
    display: block;
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 4px;
    width: 30%;
    height: 20px;
    background: #999;
    -webkit-box-shadow: 0 15px 10px #999999;
    box-shadow: 0 15px 10px #999999;
  }
  .user-profile .container:before {
    left: 10px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .user-profile .container:after {
    right: 10px;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
.user-profile .recipe-request-form-column {
  padding: 35px 40px 25px;
  background-color: #f8f8f8;
}
.user-profile .recipe-request-form-column .form-heading {
  margin-bottom: 14px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 600;
  color: #646464;
}
.user-profile #recipe-request-form {
  padding-top: 20px;
  border-top: 1px solid #dddddd;
}
.user-profile .form-control {
  height: 32px;
}
.user-profile .form-group {
  margin-bottom: 10px;
}
.user-profile label {
  float: left;
  width: 40%;
  color: #373737;
  text-transform: uppercase;
  font-weight: 600;
}
.user-profile input[type="text"] {
  display: inline-block;
  padding: 0 12px;
}
.user-profile input[type="text"],
.user-profile textarea {
  width: 60%;
}
.user-profile textarea {
  height: 94px;
  padding: 5px 12px;
}
.user-profile #comments {
  margin-top: 0;
}
.user-profile input[type="submit"] {
  padding: 5px 25px;
}
.user-profile .statistic {
  width: 100%;
  padding: 25px 0 0;
  border-top: 2px solid #f5f5f5;
  overflow: hidden;
}
.user-profile .statistic .col-md-6 {
  padding-left: 10px;
  padding-right: 10px;
}
.user-profile .statistic .wrapper {
  padding: 22px 0;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border: 1px solid #d0d0d0;
}
.user-profile .statistic .fa {
  width: 46px;
  height: 46px;
  line-height: 45px;
  font-size: 24px;
  color: #fff;
  background-color: #ff8c04;
}
.user-profile .statistic span {
  font-size: 38px;
  padding: 5px 0;
  width: 84px;
  color: #3f3f3f;
  font-weight: 700;
  line-height: 1;
}
.user-profile .statistic .fa,
.user-profile .statistic span {
  float: left;
  text-align: center;
}
.user-profile .statistic span,
.user-profile .statistic h6 {
  display: inline-block;
}
.user-profile .statistic h6 {
  max-width: 100px;
  margin-bottom: 0;
  font-size: 14px;
  vertical-align: middle;
  margin-top: 9px;
}
.tabs-wrapper .tab-list {
  border-bottom: 1px solid #d7d7d7;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
}
.tabs-wrapper .tab-list > li {
  float: left;
  margin: 0 0 -1px 20px;
  padding: 7px 35px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #e7e7e7;
  border: 1px solid #d7d7d7;
  color: #373737;
  cursor: pointer;
}
.tabs-wrapper .tab-list > li.active {
  background-color: #f8f8f8;
  border-bottom-color: transparent;
}
.tabs-wrapper .tab-block {
  display: none;
}
.tabs-wrapper .our-blog {
  padding-top: 0;
  padding-bottom: 0;
  background: none;
}
@media (max-width: 767px) {
  .user-profile {
    margin-bottom: 30px;
  }
  .tabs-wrapper .tab-list > li {
    margin-left: 10px;
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .user-profile .recipe-request-form-column {
    padding-left: 20px;
    padding-top: 20px;
  }
  .user-profile input[type="text"],
  .user-profile textarea,
  .user-profile label {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .user-profile .statistic .col-xs-6 {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .tabs-wrapper .tab-list > li {
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 500px) {
  .user-profile .user-photo {
    position: relative;
    float: left;
    width: 214px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .user-profile {
    margin-bottom: 40px;
  }
  .user-profile img {
    border: 6px solid #fff;
  }
  .user-profile .user-photo {
    margin-top: -44px;
  }
  .user-profile .user-details {
    display: table;
  }
  .user-profile .user-name {
    display: inline-block;
    position: relative;
    top: 3px;
    left: -60px;
    padding-right: 25px;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .user-profile {
    margin-bottom: 85px;
  }
  .user-profile .statistic {
    padding-left: 30px;
    padding-right: 30px;
  }
  .user-profile .statistic .row {
    margin-right: 0;
    margin-left: 0;
  }
}
/* 13 Editors Page */
.editor {
  background-color: #fff;
}
.editor-column {
  margin-bottom: 30px;
}
.editor-photo {
  padding: 0;
}
.editor-photo img {
  display: block;
  width: 100%;
  height: auto;
}
.editor-details {
  position: relative;
  padding: 25px 25px 50px;
  border-top: 1px solid #8dc63f;
}
.editor-details .social-media {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #8dc63f;
}
.editor-details .social-media a {
  padding: 0;
  margin: 15px;
  color: #fff;
}
.editor-details .social-media a:hover {
  color: #000;
}
.editor-name {
  font-size: 16px;
  text-transform: capitalize;
}
.editor-name small {
  display: block;
  margin-top: 7px;
  font-size: 14px;
}
@media (min-width: 1200px) {
  .editor .editor-photo,
  .editor .editor-details {
    height: 247px;
  }
}
/* 14 Contact Us Page */
#google-map-canvas {
  height: 394px;
}
#ajax-loader {
  display: none;
  margin: 0 15px;
}
.form-heading {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
label.error {
  color: #ff0000;
}
.forms-wrapper input[type="text"],
.contact-us-form input[type="text"],
.forms-wrapper input[type="email"],
.contact-us-form input[type="email"],
.forms-wrapper input[type="password"],
.contact-us-form input[type="password"],
.forms-wrapper input[type="url"],
.contact-us-form input[type="url"],
.forms-wrapper input[type="number"],
.contact-us-form input[type="number"] {
  height: 54px;
}
/* Contact Info Widget */
.contact-info-widget {
  border-top: 1px solid #8dc63f;
  padding: 28px 40px 230px;
  margin-bottom: 30px;
  background: url("../images/site/contact-info-widget-bg.png") no-repeat center bottom #ffffff;
}
.contact-info-widget .contact-details {
  overflow: hidden;
  margin-bottom: 25px;
  text-align: center;
}
.contact-info-widget .contact-details:hover .wrapper {
  border-color: #8dc63f;
}
.contact-info-widget .contact-details:hover .fa {
  color: #8dc63f;
}
.contact-info-widget a {
  display: block;
}
.contact-info-widget address {
  margin-bottom: 0;
}
.contact-info-widget .fa {
  display: block;
  margin-bottom: 10px;
  font-size: 28px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contact-info-widget .wrapper {
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
}
@media (max-width: 600px) {
  #google-map-canvas {
    height: 300px;
  }
}
@media (min-width: 600px) {
  .contact-info-widget .contact-details {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .contact-info-widget .fa {
    min-width: 50px;
    margin-bottom: 0;
  }
  .contact-info-widget .fa,
  .contact-info-widget .wrapper {
    display: inline-block;
    vertical-align: middle;
  }
  .contact-info-widget .wrapper {
    padding-left: 20px;
    border-left: 1px solid #e2e2e2;
    border-top: none;
  }
}
/* 15 Recipe Page */
.recipe-grid .recipe-top-meta {
  padding: 9px 15px;
  background-color: #f8f8f8;
}
.recipe-grid .recipe-details {
  padding-left: 30px;
  padding-right: 30px;
  border-top-color: #8dc63f;
}
.recipe-listing .recipe-column {
  padding-left: 30px;
  padding-right: 30px;
}
.recipe-listing p {
  margin-bottom: 35px;
}
.recipe-listing .recipe-top-meta {
  padding: 14px 0;
}
.recipe-listing .recipe-entry-meta {
  padding-left: 15px;
  padding-right: 15px;
}
.recipe-listing .recipe-details {
  border-top-color: #e7e7e7;
}
.recipe-listing .recipe-thumbnail {
  padding-left: 0;
  padding-right: 0;
}
.recipe-listing .recipe-thumbnail img {
  width: 100%;
}
.recipe {
  margin-bottom: 30px;
  border: 1px solid #e9e9e9;
}
.recipe-thumbnail {
  position: relative;
  overflow: hidden;
}
.recipe-top-meta .rating {
  float: right;
}
.recipe-top-meta .rating .fa {
  margin-left: 5px;
}
.recipe-top-meta .screen-reader-text {
  margin-right: 7px;
}
.recipe-title {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.recipe-title a {
  color: #2a2a2a;
}
.recipe-title a:hover {
  color: #ec6969;
}
.recipe-details {
  padding: 30px 0 0;
  background-color: #fff;
  border-top: 1px solid;
}
.recipe-entry-meta {
  padding: 15px 0;
  border-top: 1px solid #e7e7e7;
  color: #717171;
  font-weight: 600;
}
.recipe-entry-meta .fa {
  font-size: 21px;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -3px;
}
.recipe-entry-meta .read-more {
  float: right;
  color: #ec6969;
}
.recipe-entry-meta .read-more:hover {
  color: #8dc63f;
}
/* Recipe Filters */
.recipe-filters {
  margin-bottom: 80px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}
.recipe-filters a {
  display: inline-block;
  padding: 0 9px 10px;
  margin: 0 18px -1px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  font-weight: 600;
}
.recipe-filters a.current,
.recipe-filters a:hover {
  border-color: #8dc63f;
}
@media (max-width: 767px) {
  .recipe-filters a {
    padding: 0;
    margin: 0 7px 10px;
  }
}
@media (min-width: 1200px) {
  .recipe-listing p {
    margin-bottom: 25px;
  }
  .recipe-listing .recipe-details {
    padding-top: 25px;
  }
}
/* 16 Single Recipe Page */
.hentry .heading-bottom-line {
  margin-bottom: 40px;
}
.single-recipe {
  padding-bottom: 40px;
  background-color: #fff;
}
.single-recipe h1,
.single-recipe h2,
.single-recipe h3,
.single-recipe h4,
.single-recipe h5,
.single-recipe h6,
.single-recipe .h1,
.single-recipe .h2,
.single-recipe .h3,
.single-recipe .h4,
.single-recipe .h5,
.single-recipe .h6 {
  text-transform: uppercase;
}
.single-recipe .hentry p {
  margin-bottom: 30px;
}
.single-recipe .screen-reader-text {
  color: #7a7a7a;
}
.single-recipe .recipe-top-meta {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 40px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.single-recipe .heading-bottom-line {
  font-size: 16px;
  padding-bottom: 18px;
  margin-bottom: 40px;
}
.directions-list {
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
  counter-reset: li-counter;
}
.directions-list > li {
  position: relative;
  margin-bottom: 40px;
  padding-left: 70px;
}
.directions-list > li:before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  content: counter(li-counter);
  counter-increment: li-counter;
  background-color: #8dc63f;
}
.ingredients {
  padding: 27px 29px;
  margin-bottom: 40px;
  border-top: 1px solid #8dc63f;
  background-color: #f9f9f9;
}
.ingredients .title {
  margin-bottom: 30px;
  font-size: 16px;
  text-transform: uppercase;
}
.ingredients .form-item {
  margin-bottom: 25px;
}
.ingredients input[type="checkbox"] {
  display: none;
}
.ingredients input[type="checkbox"] + label {
  margin-bottom: 0;
}
.ingredients input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: -4px 20px 0 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.ingredients input[type="checkbox"]:checked + label:before {
  content: "\2714";
}
.nutrition-table {
  margin-bottom: 40px;
}
.nutrition-table table,
.nutrition-table table th,
.nutrition-table table td {
  text-align: left;
  padding: 10px 0;
  border: none;
}
.progressbar {
  display: inline-block;
  width: 150px;
  height: 4px;
  margin-left: 10px;
  background-color: #dbdbdb;
}
.progressbar > span {
  display: block;
  width: 40%;
  height: 4px;
  background-color: #8dc63f;
}
.progressbar .level-1 {
  width: 10%;
}
.progressbar .level-2 {
  width: 20%;
}
.progressbar .level-3 {
  width: 30%;
}
.progressbar .level-4 {
  width: 40%;
}
.progressbar .level-5 {
  width: 50%;
}
.progressbar .level-6 {
  width: 60%;
}
.progressbar .level-7 {
  width: 70%;
}
.progressbar .level-8 {
  width: 80%;
}
.progressbar .level-9 {
  width: 90%;
}
.progressbar .level-10 {
  width: 100%;
}
.single-recipe-comments {
  margin-top: 40px;
  margin-bottom: 100px;
}
.single-recipe-comments .comment-respond {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
}
@media print {
  .header-top,
  .primary-nav,
  .page-banner,
  .page-print,
  #comments,
  .master-footer {
    display: none;
  }
  a[href]:after {
    content: none !important;
  }
  .single-recipe,
  .page-wrapper {
    padding: 0;
  }
}
/* 17 Submit Recipe Page */
.submit-recipe .entry-title {
  font-size: 28px;
  text-transform: uppercase;
}
.submit-recipe .entry-title span {
  font-weight: 500;
}
.submit-recipe label {
  font-size: 14px;
  font-weight: 600;
  color: #2a2a2a;
  text-transform: uppercase;
}
.submit-recipe .form-control,
.submit-recipe input[type="text"],
.submit-recipe input[type="email"],
.submit-recipe input[type="password"],
.submit-recipe input[type="url"],
.submit-recipe input[type="number"],
.submit-recipe textarea {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fdfdfe;
}
.submit-recipe .note {
  font-size: 13px;
}
.submit-recipe p,
.submit-recipe #uploader,
.submit-recipe .ui-slider-wrapper {
  margin-bottom: 30px;
}
.submit-recipe #uploader .plupload_wrapper {
  min-width: 100%;
}
.submit-recipe #uploader .plupload_filelist_footer,
.submit-recipe #uploader .plupload_container .plupload_header {
  background: #f4f4f4;
}
.submit-recipe #uploader table,
.submit-recipe #uploader th,
.submit-recipe #uploader td,
.submit-recipe #uploader .ui-widget-content,
.submit-recipe #uploader .plupload_filelist_footer,
.submit-recipe #uploader .plupload_container .plupload_header {
  border: 1px solid #ededed;
}
.submit-recipe #preparation-time-slider.ui-slider-horizontal,
.submit-recipe #cook-time-slider.ui-slider-horizontal {
  height: 5px;
}
.submit-recipe #preparation-time-slider.ui-slider-horizontal .ui-slider-handle,
.submit-recipe #cook-time-slider.ui-slider-horizontal .ui-slider-handle {
  top: -7px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.submit-recipe #preparation-time-slider.ui-widget-content,
.submit-recipe #cook-time-slider.ui-widget-content {
  border-color: #8bb81d;
  background: #8bb81d;
  color: #222222;
}
.submit-recipe #preparation-time-slider .ui-state-default,
.submit-recipe #cook-time-slider .ui-state-default,
.submit-recipe #preparation-time-slider .ui-widget-content .ui-state-default,
.submit-recipe #cook-time-slider .ui-widget-content .ui-state-default,
.submit-recipe #preparation-time-slider .ui-widget-header .ui-state-default,
.submit-recipe #cook-time-slider .ui-widget-header .ui-state-default {
  border: 3px solid #fff;
  background: #e1e1e1;
  box-shadow: 0 0 0 1px #E1E1E1;
}
.submit-recipe .ui-slider-wrapper {
  padding: 30px;
  background-color: #fdfdfe;
  border: 1px solid #ededed;
}
.submit-recipe .ui-slider-wrapper .row {
  margin-top: 10px;
}
.submit-recipe #preparation-time,
.submit-recipe #cook-time {
  margin-bottom: 5px;
  color: #2a2a2a;
}
/* 18 Blog Page */
#page-layer-styled {
  position: relative;
  background-color: #fff;
}
@media (min-width: 992px) {
  #page-layer-styled .col-main {
    padding-right: 30px;
  }
  #page-layer-styled .col-sidebar {
    padding-left: 30px;
  }
}
#left-layer {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f8f8f8;
}
.blog-article {
  margin-bottom: 50px;
}
.blog-article:last-of-type {
  margin-bottom: 0;
}
.blog-article .video-post,
.blog-article .gallery-post-carousel,
.blog-article .post-thumbnail {
  margin-bottom: 40px;
}
.blog-article .entry-header {
  margin-bottom: 20px;
}
.blog-article .entry-published-date {
  float: left;
  margin-right: 18px;
  margin-top: 4px;
  padding-right: 5px;
  min-width: 63px;
  font-weight: 700;
  border-right: 3px solid #ececec;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
}
.blog-article .entry-published-date .day {
  font-size: 26px;
  margin-bottom: 4px;
}
.blog-article .entry-published-date .month {
  font-size: 16px;
}
.blog-article .entry-published-date a {
  color: inherit;
}
.blog-article .entry-published-date a:hover {
  color: #8dc63f;
}
.blog-article .entry-meta span {
  float: left;
}
.blog-article .entry-meta span + span {
  margin-left: 13px;
  padding-left: 18px;
  border-left: 1px solid #cecece;
}
.blog-article .entry-meta .fa {
  margin-right: 7px;
  color: #8dc63f;
}
.blog-article .post-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #2a2a2a;
  margin-bottom: 4px;
}
.blog-article .post-title a {
  color: inherit;
}
.blog-article .post-title a:hover {
  color: #8dc63f;
}
.blog-article .entry-content p {
  margin-bottom: 25px;
}
.blog-article .entry-content h1,
.blog-article .entry-content h2,
.blog-article .entry-content h3,
.blog-article .entry-content h4,
.blog-article .entry-content h5,
.blog-article .entry-content h6 {
  font-weight: 500;
  margin-bottom: 25px;
}
.blog-article .entry-content .radio,
.blog-article .entry-content .checkbox {
  display: inline;
}
.styled-list-one {
  margin-bottom: 30px;
  color: #f0ad4e;
}
.styled-list-one a {
  color: inherit;
}
.styled-list-one a:hover {
  color: #8dc63f;
}
.styled-list-one ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.styled-list-one .fa {
  margin-right: 8px;
}
blockquote {
  position: relative;
  padding: 35px 35px 28px 100px;
  margin-bottom: 30px;
  border-left: none;
  color: #fff;
  background-color: #73bc11;
}
blockquote:before {
  content: "\f10d";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 55px;
  color: #5d9413;
}
blockquote p {
  font-size: 15px;
}
blockquote a {
  color: #fff;
}
blockquote a:hover {
  color: #5d9413;
}
blockquote footer {
  color: #fff;
  font-size: 16px;
  text-align: right;
}
.post-read-more {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #8dc63f;
  color: #fff;
}
.post-read-more:hover {
  background-color: #80b636;
  color: #fff;
}
.about-author {
  margin: 35px 0;
  border: 1px solid #eeeeee;
}
.about-author .top-wrapper {
  padding: 24px 24px 22px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #eeeeee;
}
.about-author .avatar-wrapper {
  float: left;
  margin-right: 34px;
}
.about-author .avatar {
  border-radius: 50%;
}
.about-author .post-author {
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.about-author .description {
  display: table;
  padding: 13px 0 0;
}
.about-author p {
  margin-bottom: 0;
}
.about-author .social-media {
  float: right;
}
.about-author .social-media a {
  padding: 0 10px;
  font-size: 13px;
  color: #000;
}
.about-author .social-media a:hover {
  color: #8dc63f;
}
.about-author .social-media a:last-child {
  padding-right: 0;
}
.about-author .bottom-wrapper {
  padding: 12px 24px;
}
.about-author .bottom-wrapper > a {
  font-weight: 700;
}
/* Comments */
#comments {
  margin-top: 35px;
}
#comments-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
}
.commentlist {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  border-top: none;
}
.commentlist .children .comment-body {
  padding-top: 3px;
}
.commentlist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.commentlist > li {
  border-top: 1px solid #eeeeee;
}
.commentlist > .even {
  background-color: #fcfcfc;
}
.comment-body {
  padding: 32px 24px 24px;
}
.comment-body h5 {
  margin-bottom: 6px;
}
.comment-body p {
  margin-bottom: 8px;
}
.author-photo {
  float: left;
  margin-right: 30px;
}
.comment-wrapper {
  display: table;
}
.comment-meta,
.reply {
  display: inline-block;
}
.reply:before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 10px;
  margin: 0 9px;
  background-color: #eeeeee;
}
.reply a {
  color: #e84c3d;
}
.reply a:hover {
  color: #8dc63f;
}
@media (min-width: 768px) {
  #comments .depth-2 article {
    margin-left: 100px;
  }
  #comments .depth-3 article {
    margin-left: 200px;
  }
}
@media (min-width: 1200px) {
  #comments .depth-4 article {
    margin-left: 300px;
  }
}
.comment-respond {
  padding: 35px 30px;
  margin-top: 35px;
  border: 1px solid #eeeeee;
}
.comment-respond .comment-reply-title {
  margin-bottom: 30px;
  font-size: 18px;
  text-transform: uppercase;
}
.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond textarea {
  background-color: #fcfcfc;
  padding: 7px 15px;
}
.comment-respond .form-submit {
  margin-bottom: 0;
}
@media (max-width: 640px) {
  .page-wrapper {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .page-banner {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 1px;
  }
  .page-title {
    font-size: 32px;
  }
  .blog-article .entry-published-date {
    position: absolute;
    top: 0;
    padding: 5px;
    margin: 0;
    background-color: #8DC63F;
    color: #fff;
  }
}
@media (max-width: 480px) {
  .about-author .avatar-wrapper {
    float: none;
    margin: 0 0 20px;
  }
  .about-author .top-wrapper {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .author-photo,
  .blog-article .entry-meta span {
    float: none;
  }
  .author-photo {
    margin: 0 0 20px;
  }
  .blog-article .entry-meta span + span {
    margin-left: 6px;
    padding-left: 10px;
  }
}
@media (max-width: 380px) {
  .about-author .bottom-wrapper {
    text-align: center;
  }
  .about-author .social-media {
    float: none;
  }
}
