List Choosen Recipes
<div class="ui-widget">
  <ul ng-repeat="recipe in recipes">
      <li class="recipe">
          <ion-item  ui-sref="recipe({id:recipe.Id})"  > <strong >{{recipe.Name}}</strong></ion-item>
            <button ng-click="rejectRecipe(recipe.Id)">Reject</button>
      </li>
    </ul>
</div>
</br>
Show products by recipes
<div class="ui-widget">
  <ul ng-repeat="product in recipeProducts">
    <li class="product">
        <ion-item  ui-sref="product({id:product.Id})"  > <strong>{{product.Name}}</strong></ion-item>
        <div ng-if="!product.IsChoosen">
          <button ng-click="chooseProduct(product.Id)">Choose</button>
        </div>
        <div ng-if="product.IsChoosen">
          <button  ng-click="rejectProduct(product.Id)">Reject</button>
        </div>
    </li>
  </ul>
</div>

List Ingredients
<div class="ui-widget">
  <ul ng-repeat="ingredient in ingredients">
    <li class="ingredient">
        <strong>{{ingredient.Name}}</strong>
        <button ng-click="showProductsByIngredient(ingredient.Id)">Show</button>
    </li>
  </ul>
</div>

<br/>


Show products by choosen ingredient and check 
<div class="ui-widget">
  <ul ng-repeat="product in ingredientProducts">
     <li class="product">
        <ion-item  ui-sref="product({id:product.Id})" > <strong>{{product.Name}}</strong></ion-item>
        <div ng-if="!product.IsChoosen">
          <button ng-click="chooseProduct(product.Id)">Choose</button>
        </div>
        <div ng-if="product.IsChoosen">
          <button  ng-click="rejectProduct(product.Id)">Reject</button>
        </div>
    </li>
  </ul>
</div>

<br/>

List choosen Product
<button ng-click="rejectAllProducts()">Reject All</button>

<div class="ui-widget">
  <ul ng-repeat="product in  choosenProducts">
    <li class="product">
        <ion-item  ui-sref="product({id:product.Id})"  > <strong>{{product.Name}}</strong></ion-item>
        <button  ng-click="rejectProduct(product.Id)">Reject</button>
    </li>
  </ul>
</div>
<br/>



<button ng-click="toSave()">Save</button>
<button ng-click="toCancel()">Cancel</button>

