<div>
  <label class="item item-input">
    <span class="input-label">Email</span>
    <input type="text" ng-model="email"/>
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password" ng-model="password"/>
  </label>
  <button ng-click="submit(email,password)">submit</button>

</div>
