<div ng-if="!product.IsChoosen">
<button ng-click="choose()">Choose</button>
</div>
<div ng-if="product.IsChoosen">
<button ng-click="reject()">Reject</button>
</div>


<div >
  Name: <span >{{product.Name}}</span>
<br/>

Description: <div ng-bind-html="product.Description"></div>
<br/>

Price: <span >{{product.Price}}</span>
<br/>


Tags: <span >{{product.STags}}</span>
<br/>

Ingredients: <span >{{product.SIngredients}}</span>
<br/>

</div>

