<div ng-if="!recipe.IsChoosen">
<button ng-click="choose()">Choose</button>
</div>
<div ng-if="recipe.IsChoosen">
<button ng-click="reject()">Reject</button>
</div>

<div >
  Name: <span >{{recipe.Name}}</span>
<br/>

Servings: <div ng-bind-html="recipe.Servings"></div>
<br/>

Execution: <div ng-bind-html="recipe.Execution"></div>
<br/>


Tags: <span >{{recipe.STags}}</span>
<br/>

Ingredients: <span >{{recipe.SIngredients}}</span>
<br/>

</div>

