 <div class="modal">
    <ion-header-bar>
      <h1 class="title">Save</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="name">
        </label>
      </div>

      <button class="button button-full button-energized" ng-click="saveModal(name)">save</button>
      <button class="button button-full button-energized" ng-click="closeModal()">close</button>
      
    </ion-content>
  </div>
