<div >
  <ul ng-repeat="grocery in groceries">
      <li class="recipe">
        <ion-item  ui-sref="saved_groceries({id:grocery.Id,
          name:grocery.Name})" >
            <strong >{{grocery.Name}}</strong></ion-item>
          <button ng-click="deleteGrocery(grocery)">delete</button>
      </li>
    </ul>
</div>
</br>
