List  Recipes
<div >
  <ul ng-repeat="recipe in note.Recipes">
      <li class="recipe">
          <ion-item  ui-sref="recipe({id:recipe.Id})" > <strong >{{recipe.Name}}</strong></ion-itema>
      </li>
    </ul>
</div>
</br>

List Ingredients
<div >
  <ul ng-repeat="ingredient in note.Ingredients">
    <li class="ingredient">
        <strong>{{ingredient.Name}}</strong>
        <select ng-model="ingredient.State" 
          ng-init="ingredient.State = ingredient.State || 'not_have'"
          ng-change="updateIngredients()">
          <option value="not_have">not have </option>
          <option value="have">have</option>
          <option value="buy">buy</option>
        </select> 
    </li>
  </ul>
</div>

<br/>

List Products
<div >
  <ul ng-repeat="product in note.Products">
    <li class="product">
        <ion-item  ui-sref="product({id:product.Id})" > <strong>{{product.Name}}</strong></ion-item a>
    </li>
  </ul>
</div>


