<div >
          <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" ng-model="name"/>
          </label>
          <label class="item item-input">
            <span class="input-label">Tags</span>
            <input ion-autocomplete type="text" 
                                    readonly="readonly" 
                                    ng-model="stags"                                        
                                    class="ion-autocomplete" autocomplete="off"                                    
                                                             item-value-key="name"
                                                             item-view-value-key="view"
                                                             items-method="getTags(query)"
                                                             items-method-value-key="items"
                                                             placeholder="Enter test query ..."
                                                             />
          </label>
          <label class="item item-input">
            <span class="input-label">Ingredients</span>
            <input ion-autocomplete type="text" 
                                    readonly="readonly" 
                                    ng-model="singredients"
                                    class="ion-autocomplete" autocomplete="off"
                                                             item-value-key="name"
                                                             item-view-value-key="view"
                                                             items-method="getIngredients(query)"
                                                             items-method-value-key="items"
                                                             placeholder="Enter test query ..."
                                                             />
          </label>
          <button ng-click="submit()">submit</button>

          <ion-list>
            <ion-item ng-repeat="recipe in recipes">
              {{recipe.Name}} 
              <button  ng-if="!recipe.IsChoosen" ng-click="choose(recipe)">choose</button>
              <button  ng-if="recipe.IsChoosen" ng-click="reject(recipe)">reject</button>
            </ion-item>
            <button ng-if="(page - 1) > 0" ng-click="changePage(page - 1)">{{page - 1}}</button>   
            <span>{{page}}</span>      
            <button ng-if="totalPages >= (page+1)"ng-click="changePage(page + 1)">{{page + 1}}</button>
          </ion-list>
        </div>

